/* Nel Hashira */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   scroll-behavior: smooth;
}

body {
   font-family: Montserrat, sans-serif;
   font-size: 1rem;
   line-height: 1.5;
   color: #2d3436;
}

a {
   text-decoration: none;
   color: #2d3436;
}

ul {
   list-style-type: none;
}

/* Sidebar section */
.sidebar {
   width: 100%;
   position: fixed;
   height: 60px;
   background-color: #2d3436;
   color: #dfe6e9;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 1rem 2rem;
}

.fa-bars {
   font-size: 1.75rem;
   cursor: pointer;
}

.main {
   padding: 1rem 0;
}

.scroll-content {
   position: fixed;
   top: 0;
   left: 0;
   background-color: #2d3436;
   width: 300px;
   z-index: 99;
   height: 100%;
   overflow-y: auto;
   transform: translateX(-100%);
   transition: transform 500ms ease-in-out;
}

.scroll-content-open {
   transform: translateX(0);
}

.scroll-content h1 {
   padding: 1rem;
   font-weight: 400;
   border-bottom: 1px solid #ecf0f1;
}

.side-links li a {
   font-size: 1rem;
   border-bottom: 1px solid transparent;
   display: block;
   padding: 1rem;
   color: #ecf0f1;
}

.side-links li:hover a {
   border-bottom: 1px solid #dfe6e9;
}

.main ul {
   margin-left: 5rem;
   list-style-type: initial;
}

p {
   text-align: justify;
   padding: 0 1rem;
   margin: 1rem 0;
   font-size: 0.98rem;
}

h2 {
   font-size: 1.8rem;
   font-weight: 500;
}

code {
   background-color: #dfe6e9;
   padding: 1rem;
   margin-bottom: 1rem;
   margin-left: 3rem;
   display: block;
}

.link {
   color: #3498db;
   text-decoration: underline;
}

.container {
   margin: auto;
}

/*	Extra small devices (phones, 600px and down)	*/
@media only screen and (max-width: 600px) {
   .container {
      max-width: 450px;
   }
}

/*	Small devices (portrait tablets and large phones, 600px and up)	*/
@media only screen and (min-width: 600px) {
   .container {
      max-width: 576px;
   }
}

/*	Medium devices (landscape tablets, 768px and up)	*/
@media only screen and (min-width: 768px) {
   .container {
      max-width: 720px;
   }
}

/*	Large devices (laptops/desktops, 992px and up)	*/
@media only screen and (min-width: 992px) {
   .container {
      max-width: 960px;
   }
}

/*	Extra large devices (large laptops and desktops, 1200px and up)	*/
@media only screen and (min-width: 1200px) {
   .container {
      max-width: 1140px;
   }
}
